In [1]:
mylist=[1,2,3,4]

In [2]:
mylist2=[1,"hello",2.5]

List Comprehension

In [4]:
list_comp=[X for x in iterable <test_condition>]

SyntaxError: invalid syntax (1659214754.py, line 1)

In [5]:
iterable:
    list 
    tuple
    dict
    set
    string

SyntaxError: invalid syntax (1633438759.py, line 1)

In [7]:
my_string="sunny savita"

In [8]:
my_list=[]

In [9]:
for i in my_string:
    my_list.append(i)

In [10]:
my_list

['s', 'u', 'n', 'n', 'y', ' ', 's', 'a', 'v', 'i', 't', 'a']

# list comprehension

In [11]:
[x for x in my_string]

['s', 'u', 'n', 'n', 'y', ' ', 's', 'a', 'v', 'i', 't', 'a']

# write a program to produce square of numbers from 1 to 10, store them in a list and print the list

In [16]:
mylist=[]
 for x in range(1,11):
    print(x)
    mylist.append(x**2)

IndentationError: unexpected indent (2076368643.py, line 2)

In [17]:
mylist

[1, 2, 3, 4]

In [18]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# wap to accept a string from user and convert each word of the given string into uppercase store it in a list and print that list

In [22]:
mystring=input("enter the name")
mylist=[]
for x in mystring:
    mylist.append(x.upper())
print(mylist)

enter the name chirag

['C', 'H', 'I', 'R', 'A', 'G']

In [23]:
mystring=input("enter the name")
[x.upper()for x in mystring]

enter the name chirag agarwal

['C', 'H', 'I', 'R', 'A', 'G', ' ', 'A', 'G', 'A', 'R', 'W', 'A', 'L']

In [25]:
"sunny savita".split()

['sunny', 'savita']

In [27]:
[x.upper() for x in mystring.split()]

['CHIRAG', 'AGARWAL']

# wap to accept a five integer from user and store them in a list , now display the sum of element and the element of list

In [35]:
number=input("enter 5 integer:")
for x in number.split():
    mylist.append(int(x))
print(mylist)
print(sum(mylist))

enter 5 integer: 1 2 3 4 5

['C', 'H', 'I', 'R', 'A', 'G', '1', '2', '3', '4', '5', '1', '2', '3', '4', '5', 1, 2, 3, 4, 5]

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
number

'1 2 3 4 5'

In [30]:
number.split()

['1', '2', '3', '4', '5']

In [32]:
"1-2-3-4-5".split("-")

['1', '2', '3', '4', '5']

# wap to produce square of only odd nos from 1 to 50 , store them in a list.

1. for loop
2. list comprehension

In [40]:
c=[]
for x in range (1,51):
    if x%2!=0:
        c.append(x**2)

In [41]:
c

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401]

In [43]:
[x**2 for x in range(1,51) if x%2!=0]

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401]

# create a function called removevowels() which acept a string a argument abd return a list with all the vowels remved from the sring

# homework

# TUPLE

In [44]:
mytuple=()

In [45]:
mytuple

()

In [46]:
mytuple=(1,2,3,4,5,6,67)

In [47]:
mytuple

(1, 2, 3, 4, 5, 6, 67)

In [48]:
mytuple=(1,"chirag",10.5)

In [49]:
mytuple

(1, 'chirag', 10.5)

In [50]:
type(mytuple)

tuple

In [51]:
mytuple=(10)

In [52]:
type(mytuple)

int

# concept of packing and unpacking

# packing

In [55]:
a=1,2,3,4
a

(1, 2, 3, 4)

In [56]:
type(a)

tuple

# unpacking

In [57]:
x,y,z,h=a

In [58]:
x

1

In [59]:
y

2

In [60]:
z

3

In [61]:
h

4

In [66]:
mynums=([1,2],3,4,5,66,7)

In [68]:
mynums[0][1]=100

In [69]:
mynums

([1, 100], 3, 4, 5, 66, 7)

In [70]:
mytuple=(100,200,300,400,500)

In [71]:
mytuple=(1,2,3,4,5)

In [72]:
mytuple

(1, 2, 3, 4, 5)

In [74]:
del(mytuple[3])

TypeError: 'tuple' object doesn't support item deletion

In [77]:
function in tuple

lenght()

max()

min()

sum()

sorted()

any()

all()

tuple()

NameError: name 'function' is not defined

In [78]:
mytuple=(1,2,454,56,8,78,54,7,67)

In [79]:
len(mytuple)

9

In [80]:
max(mytuple)

454

In [81]:
min(mytuple)

1

In [82]:
sum(mytuple)

727

In [83]:
sorted(mytuple)

[1, 2, 7, 8, 54, 56, 67, 78, 454]

In [85]:
sorted(mytuple,reverse=True)

[454, 78, 67, 56, 54, 8, 7, 2, 1]

In [86]:
# atleast one element should be true
any(mytuple)

True

In [89]:
tuple("chirag")

('c', 'h', 'i', 'r', 'a', 'g')

In [92]:
tuple([1,23,4,45,5,434,55,55,5,56,55])

(1, 23, 4, 45, 5, 434, 55, 55, 5, 56, 55)

In [93]:
iterable is a object on top of that we can iterate


1.list
2.tuple
3.string
4.set
5.range

SyntaxError: invalid decimal literal (1894201128.py, line 4)

In [ ]:
methods for tuple
1.append()
2.extend()
3.insert()
4.count()
5.index()
6.clear()= won't work
7.pop()=won't work
8.sort()=cannot
9.reverse()=cannot
10. remove()=won't work

In [94]:
mytuple=(1,2,3,4,5)

In [95]:
mytuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [96]:
mytuple.extend([6,7])

AttributeError: 'tuple' object has no attribute 'extend'

In [97]:
mytuple.insert(3,10)

AttributeError: 'tuple' object has no attribute 'insert'

In [99]:
mytuple.count(1)

1

In [100]:
# here we pass element and return the index value
mytuple.index(4)

3

In [101]:
mytuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [102]:
mytuple.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

# membership operator in and not works with tuple

In [103]:
my_tuple=("a","e","i","o","u")

In [104]:
'a' in my_tuple

True

In [105]:
'z' in my_tuple

False

# concatenation

In [107]:
odd=(1,3,5)
even=(2,4,6)

In [109]:
id(odd)

139855306524864

In [110]:
id(even)

139855305168640

In [111]:
id(odd+even)

139855304161888

# relational operators

In [120]:
a=(4,5,3)
b=(4,5,6)

In [121]:
a<b

True

In [119]:
a>b

False

# sets

In [ ]:
1.we cannot keep duplicate value
2.we can not subscript operator(we cannot do indexing as well as slicing)
3.

In [122]:
mylist=[1,2,3,4,5,]#access element with index this is possible
mytuple=(1,2,3,4,5)#same as above
myset={1,2,3,4,5}

In [123]:
type(mylist)

list

In [125]:
type(mytuple)

tuple

In [126]:
type(myset)

set

In [128]:
myset={1,2,3,4,5,66,56,56}

In [129]:
myset

{1, 2, 3, 4, 5, 56, 66}

In [130]:
myset[0]

TypeError: 'set' object is not subscriptable

In [131]:
myset[1:4]

TypeError: 'set' object is not subscriptable

In [134]:
myset={1,"hello",10.5}

In [135]:
myset

{1, 10.5, 'hello'}

In [136]:
# i can pass any iterable to set function
# set(<iterble>)

In [138]:
set([1,2,3,4,5,6])

{1, 2, 3, 4, 5, 6}

# if i can add something in set there is a function add()

In [139]:
myset.add(1000)

In [140]:
myset

{1, 10.5, 1000, 'hello'}

# CLEAR()

In [141]:
myset.clear()

In [142]:
myset

set()

# copy()

In [144]:
myset={1,2,33,4,56,333,455}

In [145]:
myset.copy()

{1, 2, 4, 33, 56, 333, 455}

# pop() # remove() # update()